/* Base styles and root variables here */
:root {
    --primary-color:rgba(149, 238, 48, 0.637);
    --secondary-color: #2778ae;
    --dark-bg: #0a192f;
    --darker-bg: #121212;
    --text-color: #ccd6f6;
    --text-muted: #b3b3b3;
    --card-bg: #2d2d2d;
    --nav-height: 80px;
}


* {
    margin-top: 1.5 rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0c0b0b, #494239, #0c0b0b);
    animation: gradientMotion 5s ease infinite;
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

@keyframes gradientMotion {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

